<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  	<title>elastic.js: <?js= title ?></title>
	
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <link rel="stylesheet" type="text/css" href="styles/prettify.css" />
    <script src="scripts/prettify.js" type="text/javascript"></script>
    
    <!--link type="text/css" rel="stylesheet" href="styles/node-dark.css"-->
    <!--link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css"-->
    <meta name="author" content="diji inc.">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <style type="text/css">
      body {padding-top: 60px;padding-bottom:25px;}

      .page-header {
        background-color: #f5f5f5;
        border:none;
        padding: 20px 20px 10px;
        text-align:right;
        -webkit-border-radius: 6px 6px 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 4px 4px 4px 4px;
      }
      .toc-item {margin: 0 0 0 10px;list-style:none;}
      .toc-item a {line-height:16px; color:#557e2f}
      .doc-ref {text-decoration:none;}
      .ancestors a {color:#557e2f;}
      a {color:#557e2f}
      a:visited {color:#557e2f}
      a:hover {color:#78ab44}
      h3 {font-size:18.5px;color:#6e6e6e}
      code {background-color:transparent; color:#6e6e6e}
      pre {margin: 18px 0px 0px;}
      .alert-message.default{
        background-color: #f5f5f5;
        background-repeat: repeat-x;
        background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5));
        background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
        background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
        background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
        background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
        background-image: linear-gradient(top, #ffffff, #f5f5f5);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
        border: 1px solid #ddd;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: inset 0 1px 0 #ffffff;
        -moz-box-shadow: inset 0 1px 0 #ffffff;
        box-shadow: inset 0 1px 0 #ffffff;
      }

    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <!-- Google analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12991832-4']);
      _gaq.push(['_setDomainName', 'fullscale.co']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body onload="prettyPrint()">

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <span class="brand">Documentation {<span style="color:#557e2f;font-weight:500;"> elastic.js </span>}</span>
                <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/elasticjs/">Home</a></li>
                    <li><a target="_blank" href="http://www.fullscale.co/elasticjs/">Guide</a></li>
                    <li><a target="_blank" href="https://github.com/fullscale/elastic.js/tree/master/examples">Examples</a></li>
                    <li><a target="_blank" href="https://github.com/fullscale/elastic.js">Source</a></li>
                    <li><a target="_blank" href="/translator/">Translator</a></li>
                </ul>
            </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row-fluid">
          <div class="span8 offset1">
    
            <?js docs.forEach(function(doc, i) { ?>
     
              <header>
                <h3>
                  <?js
                    if (doc.ancestors && doc.ancestors.length) {
                      print('<div class="alert-message default"><span class="ancestors" style="margin-left:10px">');
                      print( doc.ancestors.join(' &rang; ') ); 
                      print(' &rang; </span>' + doc.name + '</div>');
                    } else {
                      print('<div class="alert-message default"><span class="ancestors" style="margin-left:10px">');
                      print(doc.name);
                      print('</span></div>');
                    }
            
                    if (doc.variation) {
                      print('<sup class="variation">'+doc.variation+'</sup>'); 
                    } 
                  ?>
                </h3>

                <?js
                  if (doc.classdesc) {
                    print('<p class="class-description">'+doc.classdesc+'</p>'); 
                  } 
                ?>    
              </header>  
    
              <article>    
                <?js
                  if (doc.kind === 'module' && doc.module) {
                    print(render('method.tmpl', doc.module));
                  }
        
                  if (doc.kind === 'class') {
                    print('<h3>Module</h3><table class="table table-bordered"><tbody>');
                    print(render('method.tmpl', doc));
                    print('</tbody></table>');
                  } else {
                    if (doc.description) {
                      print('<p class="description">' + doc.description + '</p>');
                    }

                    print(render('details.tmpl', doc));
            
                    if (doc.examples && doc.examples.length) {
                      print('<h2>Example' + (doc.examples.length > 1? 's':'') + '</h2>');
                      print( render('examples.tmpl', doc.examples) );
                    }
                  } 
                ?>
        
                <?js if (doc.augments && doc.augments.length) { ?>
                  <h3 class="subsection-title">Extends</h3>
                    <ul>
                      <?js doc.augments.forEach(function(a) { ?>
                        <li><?js= linkto(a, a) ?></li>
                      <?js }); ?>
                    </ul>
                <?js } ?>
        
                <?js if (doc.mixes && doc.mixes.length) { ?>
                  <h3 class="subsection-title">Mixes In</h3>
                    <ul>
                      <?js doc.mixes.forEach(function(a) { ?>
                        <li><?js= linkto(a, a) ?></li>
                      <?js }); ?>
                    </ul>
                <?js } ?>
        
                <?js if (doc.requires && doc.requires.length) { ?>
                  <h3 class="subsection-title">Requires</h3>
                    <ul>
                      <?js doc.requires.forEach(function(r) { ?>
                        <li><?js= linkto(r, r) ?></li>
                      <?js }); ?>
                    </ul>
                <?js } ?>
        
                <?js
                  var classes = find({kind: 'class', memberof: doc.longname}); 
                  if (doc.kind !== 'globalobj' && classes && classes.length) { ?>
            
                    <h3 class="subsection-title">Modules</h3>
                      <table class="table table-bordered table-striped table-hover table-condensed">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Description</th>
                          </tr>
                        </thead>
                        <tbody>
                          <?js classes.forEach(function(c) { ?>
                            <tr>
                              <td><code><?js= linkto(c.longname, c.name) ?></code></td>
                              <td><?js if (c.description) print(c.description); ?></td>
                            </tr>
                          <?js }); ?>
                        </tbody>
                      </table>
                <?js } ?>
        
                <?js
                  var namespaces = find({kind: 'namespace', memberof: doc.longname}); 
                  if (doc.kind !== 'globalobj' && namespaces && namespaces.length) { ?>
            
                    <h2 class="subsection-title">Namespaces</h2>
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Description</th>
                          </tr>
                        </thead>
                        <tbody>
                          <?js namespaces.forEach(function(n) { ?>
                          <tr>
                            <td><code><a href="namespaces.html#<?js= n.longname ?>"><?js= linkto(n.longname, n.name) ?></a></code></td>
                            <td><?js if (n.description) print(n.description); ?></td>
                          </tr>
                          <?js }); ?>
                        </tbody>
                      </table>
                <?js } ?>
        
                <?js 
                  var properties = find({kind: 'property', memberof: doc.longname});
                  if (title === 'Globals') {
                    properties = find({kind: 'property', memberof: {isUndefined: true}});
                  }
                  if (properties && properties.length && properties.forEach) { ?>

                    <h3 class="subsection-title">Properties</h3>
            
                    <table class="table table-bordered table-striped table-hover table-condensed">
                      <tbody>
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Description</th>
                          </tr>
                        </thead>
                      <?js properties.forEach(function(p) { 
                        print(render('properties.tmpl', p)); }); 
                      ?>
                      </tbody>
                    </table><br>
                <?js } ?>
        
                <?js
                  var methods = find({kind: 'function', memberof: doc.longname});

                  if (title === 'Globals') {
                    methods = find({kind: 'function', memberof: {isUndefined: true}});
                  }

                  if (methods && methods.length && methods.forEach) { ?>
            
                    <h3 class="subsection-title">Method Summary</h3>
            
                    <table class="table table-bordered table-striped table-hover table-condensed">
                      <thead>
                        <tr>
                          <th>Returns</th>
                          <th>Name</th>
                          <th>Description</th>
                        </tr>
                      </thead>
                      <tbody>
                      <?js methods.forEach(function(m) { print(render('msummary.tmpl', m)); }); ?>
                      </tbody>
                    </table>
                    <br>

                    <h3 class="subsection-title">Method Detail</h3>

                    <table class="table table-bordered table-condensed">
                      <tbody>
                      <?js methods.forEach(function(m) { 
                        print(render('method.tmpl', m)); 
                      }); ?>
                      </tbody>
                    </table>

                <?js } ?>
        
                <?js
                  var events = find({kind: 'event', memberof: doc.longname}); 
                  if (events && events.length && events.forEach) { ?>
            
                    <h3 class="subsection-title">Events</h3>
            
                    <dl>
                      <?js events.forEach(function(e) { print(render('method.tmpl', e)); }); ?>
                    </dl>
                <?js } ?>
              </article>
            <?js }); ?>

          </div><!-- end span -->

          <div class="span3">
            <?js= nav ?>
          </div>

        </div><!-- end row -->
      <hr>
      <footer>
        <span style="font-size:12px;">Copyright &copy; <a href="http://www.fullscale.co">FullScale Labs</a>, LLC. 2012</span>
        <span style="font-size:12px;float:right;">
          Documentation generated by <a style="font-size:12px" href="https://github.com/micmath/jsdoc">JSDoc 3</a> on <?js= (new Date()) ?>
        </span>
      </footer>

    </div><!-- end container -->
  </body>
</html>
